.choice-grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.choice-grid div {
    width: calc(32.5% - 2 * 10px - 2 * 1px);
    background-color: #f4f4f4;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #dcdcdc;
}

.choice-grid img {
    object-fit: cover;
    width: 100%;
}

#result {
    margin: 20px 0px;
    padding: 20px;
}

.hidden {
    display: none;
}

#result p {
    margin: 18px 0px;
}

#result button {
    height: 50px;
    width: 100%;
    background-color: #cecece;
}

#result button:hover {
    background-color: #e0e0e0;
}

.choice-grid div.selected {
    background-color: #cfe3ff;
    opacity: 1;
}

.unselected {
    opacity: 0.6;
}


@media(max-width: 700px) {
    header div {
        display: none;
    }

    article {
        width: 95%;
    }
}

@media(max-width: 500px) {
    .choice-grid div {
        width: calc(49% - 2 * 10px - 2 * 1px);
    }
}